$color-main: #d0286a;
$color-accent: #fdcd6c;


html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $color-main;
  color: #ffffff;
  font-size: 1.6rem;
  margin: 0;
  padding: 20px;
  line-height: 140%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  line-height: 120%;
  margin: 0;
}

h1 {
  font-size: 4rem;
  @media screen and (min-width: 700px) {
    font-size: 8rem;
    line-height: 90%;
  }
}

h2 {
  font-size: 3rem;
  @media screen and (min-width: 700px) {
    font-size: 6rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: inherit;
  color: $color-accent;

}

.kids-container {
  max-width: 700px;
  margin: auto;
}